body{
    background-color: rgb(42,42,42);
    color: white;
    font-family: arial;
}

table, th, td {
    border: 1px dotted #F6ECA9;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: #11235A;
    border-radius: 10px;
}


table{
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.042),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.061),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.075),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.089),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.108),
  100px 100px 80px rgba(0, 0, 0, 0.15);
}

a:link, #myBtn {
    color: rgb(0, 109, 168);
    background-color: transparent;
    text-decoration: none;
}
a:visited, #myBtn {
    color: rgb(0, 109, 168);
    background-color: transparent;
    text-decoration: none;
}

a:hover, #myBtn:hover {
    color: rgb(134, 212, 254);
    background-color: transparent;
    text-decoration: underline;
}

.center{
    text-align: center;
    margin: auto;
}

.navbar{
    background-color: #11235A;
}

.hunyor{
    object-fit: cover;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal content */
.modal-content {
    margin: auto;
    padding: 20px;
    width: 28%;
}

.close{
    color: rgb(0, 109, 168);
}

.close:hover, .close:focus {
    color: rgb(134, 212, 254);
    text-decoration: underline;
    cursor: pointer;
}