body {
    background-color: rgb(42, 42, 42);
    color: white;
    font-family: "Gill Sans", sans-serif !important;
    margin: 0;
}

h1 {
    font-family: 'Gill Sans', sans-serif;
    font-size: 16px;
    color: white;
    padding: 10px;
    width: fit-content;
    border-radius: 16px;
    margin-bottom: 10px !important;
}

h1:hover {
    background-color: aliceblue;
    color: black;
}

.center {
    text-align: center;
    margin: auto;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: auto;
    background-color: aliceblue;
    height: 50px;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navtext {
    margin-left: 5%;
    text-align: left;
    gap: 100px;
    font-size: large;
    color: #000000;
    text-decoration: none;
}

.navbutcont {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navbutton {
    color: black;
    border-radius: 20%;
    font-family: "Gill Sans", sans-serif;
    font-size: large;
    padding: 5px;
    border: none !important;
    background-color: transparent;
    text-decoration: none;
    transform: scale(1.1) !important;
}

.navbutton:hover {
    -webkit-animation: scale-up-center 0.4s ease-in-out;
    animation: scale-up-center 0.4s ease-in-out;
    background-color: transparent;
}

.navbutton:after {
    border-radius: 10px;
    background: none repeat scroll 0 0 transparent;
    bottom: -1;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

@media only screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #gone {
        display: none;
    }
}

.hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox1:checked+label>.hamburger1>.bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}

.checkbox1:checked+label>.hamburger1>.bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox1:checked+label>.hamburger1>.bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox1:checked+label>.hamburger1>.bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}

.checkbox1 {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(0);
    filter: blur(0);
    transition: filter 0.5s ease, backdrop-filter 0.5s ease;
    pointer-events: none;
    overflow: hidden;
}

#overlay.show {
    background-color: rgba(68, 109, 114, 0.751);
    z-index: 200;
    backdrop-filter: blur(5px) !important;
    pointer-events: auto;
}

#myLinks {
    visibility: hidden;
    transform: translateY(-100%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    transition: transform 0.5s ease, visibility 0.5s ease;
}

#myLinks.show {
    visibility: visible;
    transform: translateX(-50%) translateY(10%);
}

#myLinks a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    filter: blur(0);
    z-index: 1200;
    font-size: 1.5rem;
}

@keyframes dd {
    0% {
        backdrop-filter: blur(0px);
    }

    100% {
        backdrop-filter: blur(10px);
    }
}

.modaleds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.submitbtn {
    height: 40px;
    width: 70px;
    margin-top: 10px !important;
    border-radius: 8px;
    cursor: pointer;
    background-color: #596fb7;
    color: white;
    font-size: 16px;
    border: none;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s cubic-bezier(1, -1, 0.58, 1);
}

.opendial {
    height: 40px;
    width: 115px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 8px;
    cursor: pointer;
    background-color: #596fb7;
    color: white;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s cubic-bezier(1, -1, 0.58, 1);
}

.passin {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 88px;
    transition: border-color 0.3s;
}

@media only screen and (max-width: 768px) {
    .passin {
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 88px;
        transition: border-color 0.3s;
        font-size: smaller;
    }

    #passwordDialog {
        width: 50%;
    }
}

.close {
    font-size: 2.5rem;
    pointer-events: stroke;
    display: block;
    transition: transform 0.3s, color 0.3s;
}

.close:hover {
    transform: scale(1.2);
    color: rgb(209, 246, 255);
    cursor: pointer;
}

.passtext {
    cursor: default !important;
}

.show1 {
    background-color: rgba(68, 109, 114, 0.751);
    z-index: 1000;
    backdrop-filter: blur(5px) !important;
}

.index {
    margin-top: 1rem;
}

.pp {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.container {
    width: 80%;
    margin: 1rem auto;
    padding: 20px 1rem 1rem 1rem;
    background-color: red;
    border-radius: 35px;

}

.boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.box {
    flex: 1;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 35px;
    overflow: hidden;
    flex-direction: column;
    color: #000000;

}

.box p {
    padding: 10px;
}

.box img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .boxes {
        flex-direction: column;
    }
}

.textindabox {
    text-align: center;
    padding: 10px;
    width: 100% !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    padding: 5px;
}

.textindabox:hover {
    background-color: transparent;
    color: white;
}

.password-container {
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
}

.password-container i {
    margin-left: -30px;
    /* Adjust as needed */
    cursor: pointer;
    color: black !important;
}